.auth-form {
    width: 340px;
    margin: 0 auto
}

.auth-form-header {
    margin-bottom: 15px;
    color: var(--color-text-primary);
    text-align: center;
    text-shadow: none;
    background-color: initial;
    border: 0
}

.auth-form-body .input-block {
    margin-top: 5px;
    margin-bottom: 15px;
}

.auth-form-body {
    border-top: 1px solid var(--color-border-secondary);
    padding: 20px;
    font-size: 14px;
    background-color: var(--color-bg-tertiary);
    border: 1px solid var(--color-border-secondary);
    border-top: 0;
    border-radius: 0 0 6px 6px;
}

.btn-block {
    display: block;
    width: 100%;
    text-align: center;
}

.btn-primary {
    color: var(--color-btn-primary-text);
    background-color: var(--color-btn-primary-bg);
    border-color: var(--color-btn-primary-border);
    box-shadow: var(--color-btn-primary-shadow),var(--color-btn-primary-inset-shadow);
}

.btn {
    color: var(--color-btn-text);
    background-color: var(--color-btn-bg);
    border-color: var(--color-btn-border);
    box-shadow: var(--color-btn-shadow),var(--color-btn-inset-shadow);
    transition: .2s cubic-bezier(.3,0,.5,1);
    transition-property: color,background-color,border-color;
}

.Header {
    z-index: 32;
    padding-top: 12px;
    padding-bottom: 12px;
    color: var(--color-header-text);
    background-color: var(--color-header-bg)
}

.Header-link {
    font-weight: 600;
    color: var(--color-header-logo);
    white-space: nowrap;
}